$color-font : #020122;

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Pathway Extreme', sans-serif;
    color: $color-font;
    background-color: #FAF3DC;
}

nav {
    background-color: #FAF3DC;
}

.navbar-brand {
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 700;

    .letter {
        color:#FF521B;
    }
}

li {
    a {
        &::after {
            content: "";
            display: block;
            margin: auto;
            height: 3px;
            width: 0;
            top: 5px;
            background: transparent;
            transition: all 0.3s;  
        }
    
        &:hover::after, &.active-nav::after {
            width: 100%;
            background: #020122;
        }
    }
}

@media screen and (min-width: 992px) {
    .navbar-collapse {
      display: flex;
      justify-content: end;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #FAF3DC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
    border-radius: 0%;

    a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
            background-color: #ddd;
        }
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}
  

.hero {
    height: 100vh;
    background-image: linear-gradient(to left, #FF521B, #FC9E4F);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .card {
        width: 500px;
        height: 500px;
        background-color:rgba(242, 243, 174, 0.4);
        border: none;
        border-radius: 0%;

        h5 {
            font-size: 2em;
            font-weight: 800;

            span {
                color: #FAF3DC;
            }
        }
    } 
    

}

#section-projets {   
    .container-fluid {
        padding: 0;

        .title {
            background-color:#F9AD69;
            height: 15vh;

            h2 {
                font-size: 3rem;
                font-weight: 700;
            }
        } 
    }
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next, .swiper-button-prev {
    color: #FAF3DC;
    width: 60px;
    height: 80px;
    background-color: #020122;
}

.projet {
    position: relative;

    &__img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.25s;

        &:hover {
            opacity: 1;
        }

        > * {
            transform: translateY(20px);
            transition: transform 0.25s;
        }
    
        &:hover > *{
            transform: translateY(0);
        }
    }  
    
    &__title {
        font-size: 2em;
    }
}

#section-mentions {
    .container-fluid {
        padding: 0;

        .title {
            background-color:#F9AD69;
            height: 15vh;
    
            h2 {
                font-size: 3rem;
                font-weight: 700;
            }
        } 

        .card {
            background-color: #FAF3DC;
            border: none;
        }
    }    
}

.mention {
    position: relative;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.25s;

        &:hover {
            opacity: 1;
        }

        > * {
            transform: translateY(20px);
            transition: transform 0.25s;
        }
    
        &:hover > *{
            transform: translateY(0);
        }
    } 
    
    &__title {
        font-size: 2em;
    }
}

#section-about {
    .container-fluid {
        padding: 0;

        .title {
            background-color:#F9AD69;
            height: 15vh;
    
            h2 {
                font-size: 3rem;
                font-weight: 700;
            }
        } 
    }    
}

footer {
    background-color: $color-font;
}

.footer {
    height: 20vh;

    p {
        color: #FF521B !important;
        text-decoration: none;
    }
}

// DÉBUT Projet Cristal 

.cristal__hero {
    height: 100vh;
    background-image: url(../medias/projet_cristal_hero.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .card {
        width: 500px;
        height: 500px;
        background-color:rgba(250, 243, 220, 0.4);
        border: none;
        border-radius: 0%;

        h5 {
            font-size: 3em;
            font-weight: 800;
        }
    }     
}

#cristal__section-concept {
    .container-fluid {
        padding: 0;


    }    
}

#cristal__presentation {
    height: 100vh;
    background-image: url(../medias/projet_cristal.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    video {
        width: 100%;
        height: 100%;
    }
}

// FIN Projet - Cristal 


// DÉBUT Projet Arkadas

.arkadas__hero {
    height: 100vh;
    background-image: url(../medias/projet_arkadas_hero.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .card {
        width: 500px;
        height: 500px;
        background-color:rgba(250, 243, 220, 0.4);
        border: none;
        border-radius: 0%;

        h5 {
            font-size: 3em;
            font-weight: 800;
        }
    }     
}

#arkadas__section-concept {
    .container-fluid {
        padding: 0;
    }    
}

#arkadas__presentation {
    height: 100vh;
    background-image: url(../medias/projet_arkadas.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    video {
        width: 100%;
        height: 100%;
    }
}


// FIN Projet - Arkadas

// DÉBUT Projet Gema

.gema__hero {
    height: 100vh;
    background-image: url(../medias/projet_gema_hero.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .card {
        width: 500px;
        height: 500px;
        background-color:rgba(250, 243, 220, 0.4);
        border: none;
        border-radius: 0%;

        h5 {
            font-size: 3em;
            font-weight: 800;
        }
    }     
}

#gema__section-concept {
    .container-fluid {
        padding: 0;
    }    
}

#gema__presentation {
    height: 100vh;
    background-image: url(../medias/projet_gema.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    video {
        width: 100%;
        height: 100%;
    }
}


// FIN Projet - Gema


// DÉBUT Projet - Scène 3D

.scene__hero {
    height: 100vh;
    background-image: url(../medias/medium_shot_2_interieur.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .card {
        width: 500px;
        height: 500px;
        background-color:rgba(250, 243, 220, 0.4);
        border: none;
        border-radius: 0%;

        h5 {
            font-size: 3em;
            font-weight: 800;
        }
    }     
}

#scene__section-concept {
    .container-fluid {
        padding: 0;
    }    
}

#scene-presentation {   
    .container-fluid {
        padding: 0;

        .title {
            background-color:#F9AD69;
            height: 15vh;

            h2 {
                font-size: 3rem;
                font-weight: 700;
            }
        } 

        .swiper-button-next {
            right: 0;
        }
        
        .swiper-button-prev {
            left: 0;
        }
        
        .swiper-button-next, .swiper-button-prev {
            color: #FAF3DC;
            width: 60px;
            height: 80px;
            background-color: #020122;
        }
    }
}

.scene {
    &__img {
        width: 100%;
        height: 100%;
    }
}

#section-processus {   
    .container-fluid {
        padding: 0;

        .title {
            background-color:#F9AD69;
            height: 15vh;

            h2 {
                font-size: 3rem;
                font-weight: 700;
            }
        } 

        .swiper-button-next {
            right: 0;
        }
        
        .swiper-button-prev {
            left: 0;
        }
        
        .swiper-button-next, .swiper-button-prev {
            color: #FAF3DC;
            width: 60px;
            height: 80px;
            background-color: #020122;
        }
    }
}

.processus {
    position: relative;

    &__img {
        width: 100%;
        height: 100%;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.25s;

        &:hover {
            opacity: 1;
        }

        > * {
            transform: translateY(20px);
            transition: transform 0.25s;
        }
    
        &:hover > *{
            transform: translateY(0);
        }
    }  
    
    &__title {
        font-size: 2em;
    }
}

// FIN Projet - Scène 3D