* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Pathway Extreme", sans-serif;
  color: #020122;
}

.navbar-brand {
  font-family: "Lexend Zetta", sans-serif;
}

li a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}
li a:hover::after, li a.active-nav::after {
  width: 100%;
  background: #020122;
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: end;
  }
}
#section-hero {
  height: 100vh;
  background-image: linear-gradient(to left, #FF521B, #FC9E4F);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
#section-hero .about-me {
  width: 475px;
  height: 500px;
  background-color: rgba(242, 243, 174, 0.4);
}
#section-hero .about-me h2 {
  font-weight: 800;
}

/*
#section-projets {
    background-color: #FAF3DC;

    .container-fluid {
        padding: 0;

        .title {
            background-color:#F9AD69;
            height: 20vh;

            h2 {
                font-size: 3rem;
                font-weight: 700;
            }
        }  
    }
}
*/
/*
.projet {
    position: relative;

    &__img {
        width: 100%;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.25s;

        &:hover {
            opacity: 1;
        }

        > * {
            transform: translateY(20px);
            transition: transform 0.25s;
        }

        &:hover > *{
            transform: translateY(0);
        }
    }  

    &__title {
        font-size: 2em;
    }
}
*/
#section-mentions {
  background-color: #FAF3DC;
}
#section-mentions .container-fluid {
  padding: 0;
}
#section-mentions .container-fluid .title {
  background-color: #F9AD69;
  height: 20vh;
}
#section-mentions .container-fluid .title h2 {
  font-size: 3rem;
  font-weight: 700;
}

.mention {
  position: relative;
}
.mention__img {
  width: 100%;
  height: auto;
}
.mention__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.mention__overlay:hover {
  opacity: 1;
}
.mention__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.mention__overlay:hover > * {
  transform: translateY(0);
}
.mention__title {
  font-size: 2em;
}

#section-about {
  background-color: #FAF3DC;
}
#section-about .container-fluid {
  padding: 0;
}
#section-about .container-fluid .title {
  background-color: #F9AD69;
  height: 20vh;
}
#section-about .container-fluid .title h2 {
  font-size: 3rem;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */